Textures/Orig
TemporaryGeneratedFile*
*.dll
*.pbd
*.cache
*.orig
*.xcf
*.pdb
*.html
*.png
*.svg
Assemblies/Advanced_Cultivation.pdb
!Assemblies/Advanced_Cultivation.dll
"1.1 1.2"
"1.3 1.4"
Source/bin
Source/obj
Source/refs